/*********************GENERAL**********************/


body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  margin-top: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Satisfy', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Overpass', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF
}

h3 {
  color: #66BFBF;
  font-family: 'Overpass', sans-serif;
}

hr {
  width: 10%;
  border-style: dotted none none none;
  border-width: 0.8rem;
  color: #EAF6F6;
  margin: 3rem auto 3rem auto;
}

p {
  color: #40514E;
}


/*********************CONTAINTERS**********************/

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
  height: 100%;
}

.mid-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bot-container {
  background-color: #66BFBF;
  padding: 3rem;
  line-height: 2;
}


.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.contact-me {
  line-height: 2;
}

/*********************IMAGES**********************/

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bot-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.education-img {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.personal-projects-img {
  width: 25%;
  margin-right: 30px;
  float: right;
}

.employment-img {
  width: 25%;
  margin-right: 30px;
  float: left;
}

.profile-img {
  width: 12.5%;
}


/*********************TEXT**********************/

.pro {
  text-decoration: underline;
}

.programmer{
  font-weight: normal;
}

.skills-text {
  clear: both;
}

.bottom-hr {
  clear: left;
}

.copyright-text {
  color: #EAF6F6;
}

.btn {
  text-decoration: none;
  background-color: #66BFBF;
  color: #EAF6F6;
  padding: 1rem;
  margin-bottom: 3rem;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  font-weight: bold;
}

.footer-link {
  margin: 3rem;
  text-decoration: none;
  font-weight: bold;
  color: #11999E;
}

.icon-link {
  color: #11999E;
  text-decoration: none;
  font-weight: bold;
}
